.signuphai{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(141, 230, 218);
}

.signuphaiTitle {
    font-size: 50px;
    
  }

  .signuphaiForm {
    margin-top: 20px;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
  }

  /* .signuphaiInput {
    padding: 10px; */
    /* background-color: white;
    border: none;
    border-radius: 15px;
  } */

  .signupbt1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    font-size: larger;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

  .signupbt2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
    font-size: larger;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }